.html, body {
    background-color: #1e87cc;
    font-family: Verdana,Arial,sans-serif,ui-icons,illustrative-icons;
}

body{
    max-width: 750px;
    margin: 0px auto 0px auto;
}

.row {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.row input {
    margin-bottom: 7px;
}

h1 {
    width:100%;
    background-color: #fff;
    padding: 10px;
}

.row input {
    background-color: #FFCC00;
    border: none;
    color: #064992;
}

input::-webkit-input-placeholder{
    color:#1e87cc !important;

}

.button {
    background: #fff;
    color:#000;
    margin-bottom: 7px;
}

.button:hover {
    background: #FFCC00;
}

#total-week {
    margin:0px auto 0px auto;
    font-size: 4em;
    text-align: center;
    color: #fff;
}