<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="workingHoursApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoeveel heb je gewerkt deze week?</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="Stylesheet" href="lib/pickadate.js/lib/themes/default.css">
    <link rel="stylesheet" href="lib/pickadate.js/lib/themes/default.time.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="workingHoursCtlr">
  <h1>Hoeveel heb je gewerkt?</h1>
    <div class="row">
    </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="text" placeholder="Tijd begonnen?" class="start-time"/>
        </div>
        <div class="large-12 columns">
          <input type="text" class="break-time"/>
        </div>
        <div class="large-12 columns">
          <input type="text" placeholder="Tijd gestopt?" class="end-time"/>
        </div>
      </div>

      <div class="row" >
        <div class="small-4 large-4 columns" ng-repeat="day in days">
          <a href="#" class="expanded button" ng-click="updateDay(day)"><strong>{{day.name}}</strong> <br /> {{dateProcent(day.time)}}</a>
        </div>
        <div class="small-4 large-4 columns">
          <a href="#" ng-click="defaultDays()" class="expanded alert button">Reset</a>
        </div>
      </div>
      <div class="row" >
        <div id="total-week">{{totalWeek}}</div>
      </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="lib/pickadate.js/lib/picker.js"></script>
    <script src="lib/pickadate.js/lib/picker.time.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
